In [1]:
import numpy as np
import pandas as pd

In [4]:
input_fname = '../../Train_Tagged_Titles/Train_Tagged_Titles.tsv'

In [5]:
df = pd.read_csv(input_fname, sep='\t')

In [6]:
df.drop(['Unnamed: 4'], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [7]:
# df.head(30)
print(df.iloc[0])

Record Number                                                    1
Title            Supreme Nike SB Dunk High By any Means Red US1...
Token                                                      Supreme
Tag                                                         Modell
Name: 0, dtype: object

In [8]:
print(len(df))

52005

In [9]:
from spacy_langdetect import LanguageDetector
import spacy

In [12]:
df.head(30)

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB Dunk,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
4,1,Supreme Nike SB Dunk High By any Means Red US1...,By any Means,Modell
5,1,Supreme Nike SB Dunk High By any Means Red US1...,Red,Farbe
6,1,Supreme Nike SB Dunk High By any Means Red US1...,US10,US-Schuhgröße
7,1,Supreme Nike SB Dunk High By any Means Red US1...,EU44,EU-Schuhgröße
8,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,No Tag
9,1,Supreme Nike SB Dunk High By any Means Red US1...,Box,No Tag
10,1,Supreme Nike SB Dunk High By any Means Red US1...,Logo,Akzente
11,1,Supreme Nike SB Dunk High By any Means Red US1...,Air Force,Produktlinie
12,2,New Balance 530 Männer und Frauen Laufschuhe m...,New Balance,Marke
13,2,New Balance 530 Männer und Frauen Laufschuhe m...,530,Modell
14,2,New Balance 530 Männer und Frauen Laufschuhe m...,Männer,Abteilung
15,2,New Balance 530 Männer und Frauen Laufschuhe m...,und,No Tag
16,2,New Balance 530 Männer und Frauen Laufschuhe m...,Frauen,Abteilung
17,2,New Balance 530 Männer und Frauen Laufschuhe m...,Laufschuhe,Produktart
18,2,New Balance 530 Männer und Frauen Laufschuhe m...,mit,No Tag
19,2,New Balance 530 Männer und Frauen Laufschuhe m...,Buchstaben N,Muster
20,2,New Balance 530 Männer und Frauen Laufschuhe m...,bequeme,No Tag
21,2,New Balance 530 Männer und Frauen Laufschuhe m...,Laufschuhe,Produktart
22,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,♥,No Tag
23,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,MICHAEL KORS,Marke
24,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,Sneaker,Stil
25,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,Gr,No Tag
26,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,39,EU-Schuhgröße
27,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,♥,No Tag
28,4,New Balance ML 574 EGO Turnschuhe grün,New Balance,Marke
29,4,New Balance ML 574 EGO Turnschuhe grün,ML 574 EGO,Modell

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52005 entries, 0 to 52004
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Record Number  52005 non-null  object
 1   Title          52004 non-null  object
 2   Token          52001 non-null  object
 3   Tag            42164 non-null  object
dtypes: object(4)
memory usage: 1.6+ MB

In [10]:
from spacy.language import Language

In [12]:
def get_lang_detector(nlp, name):
    return LanguageDetector()

nlp = spacy.load("en_core_web_sm")
Language.factory("language_detector", func=get_lang_detector)
nlp.add_pipe('language_detector', last=True)
text = 'Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force'
text2 = 'NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau'
doc = nlp(text2)
print(doc._.language)

/opt/anaconda3/envs/ebaynlp/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

{'language': 'de', 'score': 0.8571399155765819}

In [25]:
import spacy
from spacy.tokens import DocBin
import re

In [27]:
nlpEN = spacy.blank('en')
nlpDE = spacy.blank('de')
db = DocBin()

In [ ]:
for idx, row in df.iterrows():
    text = row['Title']
    token = row['Token']
    
    doc = None
    if text is #English
        doc = nlpEN.make_doc(text)
    else: #German
        doc = nlpDE.make_doc(text)
        
    ents = []
    for match in re.finditer(token, text):
        span = doc.char_span(match.span()[0], match.span()[1], label = row['Tag'], alignment_mode='contract')
        if span is None:
            print('Skipping entity')
        else:
            ents.append(span)
    
    doc.ents = ents
    db.add(doc)